# simple .gitignore for STM32CUBEIDE

# Compiler output
*.o
*.a
*.bin
*.elf
*.hex
*.lst
*.map

# other file types only found in subdirs
*.d
*.su
*.mk

# Ignore Debug and Release Folders

Debug/
Release/

# Ignore also Results Folder (used for intermediate results)

Results/
